:root {
  --primary-color: #000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 20px;
  margin-right: 25px;
  display: inline-flex;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.3s;
}
.header-link.active {
  background-color: black;
  color: #fff;
}

.add-information-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px;
  margin-right: 25px;
  display: inline-flex;
  border: 1px solid rgb(93, 187, 5);
  border-radius: 10px;
  transition: all 0.3s;
}
.add-information-link.active {
  background-color: rgb(7, 61, 5);
  color: #fff;
}
